.menu {
  box-sizing: border-box;
  height: 100%;
  background-color: #3f5252;
  overflow: hidden;

  @include respond(tablet) {
    overflow: auto;
  }

  @include respond(desktop) {
    overflow: hidden;
  }

  &_top-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @include respond(tablet) {
      gap: 40px;
    }
  }

  &_selector {
    all: unset;
    color: #f1f5f4;
    appearance: auto;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }

    &-language {
      background-color: #504f5e;
    }
  }

  &_bottom {
    margin: 10px 20px 0;
    display: flex;
    flex-direction: column;
    color: #f1f5f4;

    @include respond(tablet) {
      margin: 30px 39px 0;
      align-items: start;
      > :last-child {
        align-self: center;
      }
    }

    @include respond(desktop) {
      margin: 8px 0 0 55px;
      flex-direction: row;
      justify-content: space-between;
      gap: 29px;
    }

    &-info {
      display: flex;
      flex-direction: column;

      &--wrapper {
        @include respond(tablet) {
          display: flex;
          align-items: center;
          gap: 123px;
          margin-bottom: 50px;
        }
      }
    }

    &_option {
      font-family: Raleway, sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
    }

    &_value {
      font-family: Raleway, sans-serif;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 16px;
      line-height: 150%;
    }

    &-content-wrapper {
      @include respond(tablet) {
        width: 100%;
      }
      @include respond(desktop) {
        flex: 1;
      }
    }
  }

  &_nav {
    margin-bottom: 40px;

    @include respond(tablet) {
      margin-bottom: 50px;
    }
  }

  &_line {
    width: 100%;
    height: 1px;
    background-color: #f1f5f4;
    margin-bottom: 40px;
  }

  &_button {
    all: unset;
    cursor: pointer;
    width: 100%;
    height: 60px;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    background-color: #cd4d31;
    transition: background-color 0.3s ease;

    @include respond(tablet) {
      width: 330px;
      margin-bottom: 30px;
    }

    &:hover {
      background-color: #af3419;
    }

    &:active {
      background-color: #ea340d;
    }
  }

  &_imageBox {
    display: none;

    @include respond(tablet) {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 422px;
    }

    @include respond(desktop) {
      width: 624px;
    }
  }

  &_man {
    display: block;
    max-width: 100%;
  }
}

.address {
  margin-top: 20px;
  margin-bottom: 40px;

  @include respond(tablet) {
    margin: 0;
  }
}

.navigation {
  text-decoration: none;
  color: #f1f5f4;
  transition: all 0.3s ease;

  &:hover {
    color: #CD4D31;
    text-decoration: underline;
  }
}

@include respond(tablet) {
  .menu_selector {
    order: 2;
  }
  .top-bar_cross {
    order: 1;
  }
}
