.upcoming {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  margin-inline: 20px;
  margin-bottom: 90px;

  @include respond(tablet) {
    margin-inline: 39px;
    margin-bottom: 100px;
    position: relative;
  }

  @include respond(desktop) {
    margin-inline: 55px;
    margin-bottom: 110px;
    position: relative;
  }

  &_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    max-width: 280px;

    @include respond(tablet) {
      max-width: 690px;
      flex-direction: row;
      gap: 30px;
    }

    @include respond(desktop) {
      max-width: 1170px;
      justify-content: start;
    }
  }

  &_wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @include respond(tablet) {
      display: grid;
      grid-template-rows: 1fr;
      gap: 70px;
    }
    @include respond(desktop) {
      gap: 60px;
    }
  }

  &_exhibition {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_actual {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    line-height: 125%;
    color: #1c1b29;
    margin-bottom: 60px;

    @include respond(tablet) {
      font-size: 40px;
      margin-bottom: 75px;
    }

    @include respond(tablet) {
      font-size: 48px;
      margin-bottom: 70px;
    }
  }

  &_image {
    width: 280px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;

    @include respond(tablet) {
      margin: 0;
      width: 330px;
    }

    @include respond(desktop) {
      width: 370px;
    }

    &:hover {
      transform: scale(1.03);
    }
  }

  &_date {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #cd4d31;
    margin-bottom: 10px;
  }

  &_name {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 125%;
    color: #1c1b29;
    margin-bottom: 20px;

    @include respond(tablet) {
      font-size: 24px;
    }
  }

  &_description {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #504f5e;
    margin-bottom: 30px;

    @include respond(tablet) {
      margin-bottom: 50px;
    }
  }

  &_button {
    all: unset;
    cursor: pointer;
    width: 100%;
    height: 60px;
    color: #f1f5f4;
    background-color: #cd4d31;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    transition: background-color 0.3s ease;

    @include respond(desktop) {
      width: 270px;
    }

    &:hover {
      background-color: #af3419;
    }

    &:active {
      background-color: #ea340d;
    }

    &:disabled {
      background-color: #dd836f;
    }
  }

  &_option {
    display: flex;
    width: 100%;
    height: 60px;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid #cd4d31;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #cd4d31;
    transition: border 0.3s ease;

    @include respond(tablet) {
      position: absolute;
      top: 0;
      right: 0;
      width: 210px;
    }

    @include respond(desktop) {
      position: absolute;
      top: 0;
      right: 0;
      width: 270px;
    }

    &:hover {
      border: 1px solid #af3419;
      color: #af3419;
    }

    &:active {
      border: 1px solid #ea340d;
      color: #ea340d;
    }

    &:disabled {
      border: 1px solid #dd836f;
      color: #dd836f;
    }
  }
}
