.news {
  margin: 90px 39px 120px;

  @include respond(tablet) {
    margin: 120px 39px 160px;
    position: relative;
  }
  @include respond(desktop) {
    margin: 110px 55px 200px;
    position: relative;
  }

  &_wrapper {
    @include respond(tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
    @include respond(desktop) {
      gap: 32px;
    }
  }

  &_title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    color: #1c1b29;
    margin-bottom: 60px;

    @include respond(tablet) {
      font-size: 40px;
      margin-bottom: 75px;
    }
    @include respond(desktop) {
      font-size: 48px;
      margin-bottom: 55px;
    }
  }

  &_card {
    display: flex;
    flex-direction: column;
    max-width: 280px;

    @include respond(tablet) {
      max-width: 330px;
    }
    @include respond(desktop) {
      max-width: 570px;
    }
  }

  &_image {
    width: 280px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;

    @include respond(tablet) {
      width: 100%;
    }

    &:hover {
      transform: scale(1.03);
    }
  }

  &_date {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #1c1b29;
  }

  &_name {
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 125%;
    color: #1c1b29;
  }

  &_description {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1c1b29;
  }

  &_all {
    display: flex;
    height: 60px;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #cd4d31;
    border: 1px solid #cd4d31;
    transition:
      border,
      color 0.3s ease;

    @include respond(tablet) {
      position: absolute;
      top: 0;
      right: 0;
      width: 210px;
    }

    &:hover {
      border: 1px solid #af3419;
      color: #af3419;
    }

    &:active {
      border: 1px solid #ea340d;
      color: #ea340d;
    }

    &:disabled {
      border: 1px solid #dd836f;
      color: #dd836f;
    }
  }
}

.pictures {
  margin-bottom: 50px;
}

.cats {
  margin-bottom: 30px;
}
