@import 'utils';
@import 'fonts';
@import 'typography';
@import './blocks/header/header';
@import './blocks/header/top-bar';
@import './blocks/main/events';
@import './blocks/main/plan-visit';
@import './blocks/main/news';
@import './blocks/main/subscribe';
@import './blocks/footer';
@import './page';
@import './blocks/menu/menu';
@import './blocks/menu/nav';
@import './blocks/main/events_upcoming';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
