@import 'utils';
@import 'fonts';
@import 'typography';
@import './blocks/header/header';
@import './blocks/header/top-bar';
@import './blocks/main/events';
@import './blocks/main/plan-visit';
@import './blocks/main/news';
@import './blocks/main/subscribe';
@import './blocks/footer';
@import './page';
@import './blocks/menu/menu';
@import './blocks/menu/nav';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

